.blog {
  nav {
    background: $blog;
  }
  .nav-link {
    padding: 12px 0;
    margin-right: 48px;
  }
  .title {
    border-left: 8px solid $primary;
    padding-left: 1rem;
    margin-top: 40px;
  }
  .search {
    line-height: 43px;
  }
  .card {
    margin-top: 60px;
  }
  .pic {
    padding-right: 30px;
    max-height: 400px;
  }
  .fig-title {
    font-size: 32px;
  }
  .subtitle {
    font-size: 20px;
    line-height: 30px;
  }
  p {
    font-size: 20px;
    line-height: 30px;
  }
  .more {
    font-size: 2.25rem;
  }
  .pagination {
    margin-top: 96px;
    margin-bottom: 160px;
  }

  @include md() {
    .title {
      margin-top: 32px;
    }
    .card {
      margin-top: 20px;
    }
    .fig-title {
      font-size: 20px;
    }
    .subtitle {
      font-size: 16px;
    }
    p {
      font-size: 14px;
      line-height: 21px;
    }
    .pagination {
      margin-top: 64px;
      margin-bottom: 96px;
    }
  }
  @include sm() {
    .pic {
      padding-right: 12px;
    }
    .fig-title {
      font-size: 16px;
    }
    .subtitle {
      font-size: 14px;
    }
    .pagination {
      margin-top: 40px;
      margin-bottom: 56px;
    }
  }
}
