.header {
  background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true")
    center / cover;
  height: 840px;
  p {
    font-size: 36px;
    font-weight: bold;
  }
  h2 {
    font-size: 64px;
    font-weight: bold;
  }

  @include md() {
    background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true")
      40% / cover;
    p {
      font-size: 20px;
    }
    h2 {
      font-size: 48px;
    }
  }

  @include sm() {
    height: 394px;

    p {
      font-size: 1rem;
    }
    h2 {
      font-size: 2rem;
    }
  }
}

.title {
  font-size: 3rem;
  margin-top: 60px;
  padding-bottom: 1px;

  @include md() {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 40px;
  }
}

.bg-none {
  background: inherit;
}

section {
  padding: 60px 0 80px;
  .material-icons,
  .material-icons-outlined {
    font-size: 5rem;
  }
  img {
    width: 84px;
    height: 84px;
  }

  @include md() {
    padding-bottom: 56px;
    li {
      padding: 0 65px !important;
    }
  }

  @include sm() {
  }
}

.classic {
  @include md() {
    h3 {
      font-size: 28px;
    }
  }
  @include sm() {
    .classic-content {
      position: absolute;
      top: 50%;
      transform: translate(0%, -50%);
    }
  }
}

.design {
  background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true")
    center / cover;
  max-height: 100%;
  margin-top: 80px;
  padding: 1px 0 80px;

  .start {
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-8.png?raw=true")
        center / cover;
    height: 455px;
  }
  .end {
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-9.png?raw=true")
        center / cover;
    height: 455px;
  }

  h3 {
    font-size: 72px;
    // line-height: 6.75;
  }

  @include md() {
    .start,
    .end {
      height: 278px;
    }
    h3 {
      font-size: 32px;
    }
  }
  @include sm() {
    .start,
    .end {
      height: 291px;
    }
  }
}

.recommend {
  .card {
    height: 460px;
    color: #212529;
  }
  .card-footer {
    color: #707070;
  }
}

.contact {
  padding: 1px 0 80px;
  margin-top: 80px;
}
