.location-map {
  .title {
    border-left: 8px solid $primary;
    padding-left: 1rem;
    margin-top: 96px;
  }
  .section {
    margin-top: 60px;
    span {
      min-width: 96px;
      line-height: 38px;
    }
  }
  select {
    width: 324px;
  }
  .location-name {
    padding: 12px 24px;
  }
  li {
    img {
      width: 26px;
      height: 26px;
    }
    span {
      max-width: 270px;
      display: inline-block;
    }
  }
  .card {
    margin-bottom: 32px;
  }
  .card-footer {
    height: 67px;
    a {
      line-height: 67px;
    }
  }
  .map {
    margin-bottom: 160px;
  }

  @include md() {
    .title {
      margin-top: 60px;
    }
    .section {
      margin-top: 40px;
    }
    .map {
      margin-top: 32px;
      margin-bottom: 96px;
    }
  }

  @include sm() {
    .title {
      margin-top: 28px;
    }
    .section {
      margin-top: 24px;
    }
  }
}
