.qa {
  .title {
    border-left: 8px solid $primary;
    padding-left: 1rem;
    margin-top: 96px;
  }
  .h3 {
    margin-top: 60px;
    font-size: 32px;
  }
  .qa-list {
    margin-top: 36px;
  }
  li {
    margin-bottom: 32px;
  }
  p {
    line-height: 1.5;
    margin-left: 100px;
  }
  ul {
    margin-bottom: 160px;
  }

  @include md() {
    .title {
      margin-top: 60px;
    }
    .h3 {
      margin-top: 40px;
    }
    ul {
      margin-bottom: 96px;
    }
  }
  @include sm() {
    .title {
      margin-top: 28px;
    }
    .h3 {
      margin-top: 24px;
    }
    p {
      margin-left: 0;
    }
  }
}
